<div class="col-sm-3"></div>
<div class="container col-sm-6 " >
  <div class="well" style="padding: 4%;">
    <div class="row">

<h1 class="text-center">Admin Login Form</h1>
<form  #adform="ngForm" (ngSubmit)="submitdata(adform)">
   
    <div class="form-group">
        <label for="">Email address:</label>
        <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="adm.email" required>
        <div *ngIf="!email.valid" style="color: red;">
            <div *ngIf="email.errors?.['required']">
              email cannot be empty
            </div>
            <div *ngIf="email.errors?.['email']">
              enter valid email id
            </div>
      
          </div>
      </div>
      <div class="form-group">
        <label for="pass">Password:</label>
        <input type="password" class="form-control" id="password" name="password" #pass="ngModel" [(ngModel)]="adm.password" required>
        <div *ngIf="!pass.valid" style="color: red;">
            <div *ngIf="pass.errors?.['required']">
                password can not be blank
            </div>
            <div *ngIf="pass.errors?.['pattern']">
                password should contain Numeric values,Special symbols and alphabets must have lenght between 8 and
                15
            </div>
        </div>
      </div>
      <div class="text-center"><button type="submit" class="btn btn-primary">Submit</button></div>
        
</form>
