

<div class="col-sm-3">
    <h1 class="text-center">Our Location</h1>
    <h4>Gramsevak Prakshin Kendra, Pune<br> Solapur Road, Manjari
        <br>Farm,Haveli, Pune, Maharashtra, 412307</h4>
        <h4><b>Mobile No.</b><br>8468888666</h4>
        <h4><b>Opening Times</b><br>
            (10am - 07pm)
            </h4>
</div>
<form #cform="ngForm" (ngSubmit)="submitdata(cform)" class="col-sm-3">
    <h1 class="text-center">Contact Us</h1>
<div class="form-group">
   
    <input type="text" class="form-control" id="nm" name="name" #name="ngModel" [(ngModel)]="con.name" placeholder="Name" required pattern="[a-zA-Z]+">
    <div *ngIf="!name.valid" style="color: red;">
        <div *ngIf="name.errors?.['required']">
            Name can not be blank
        </div>
        <div *ngIf="name.errors?.['pattern']">
            Name can contain only alphabets
        </div>
    </div>
</div>
<div class="form-group">
    <label for="email">Email Address:</label>
    <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="con.email" required>
    <div *ngIf="!email.valid" style="color: red;">
        <div *ngIf="email.errors?.['required']">
            Name can not be blank
        </div>
    </div>
</div>
<div class="form-group">
    <label for="subject">Subject:</label>
    <input type="text" class="form-control" id="subject" name="subject" #sub="ngModel" [(ngModel)]="con.subject" required>
    <div *ngIf="!sub.valid" style="color: red;">
        <div *ngIf="sub.errors?.['required']">
            Name can not be blank
        </div>
        </div>
</div>
<div class="form-group">
    <label for="message">Message:</label>
    <textarea type="text" class="form-control" id="message" name="message" #msg="ngModel" [(ngModel)]="con.message" required></textarea>
    <div *ngIf="!msg.valid" style="color: red;">
        <div *ngIf="msg.errors?.['required']">
            Name can not be blank
        </div>
    </div>
</div>

<button type="submit" class="btn btn-default">Submit</button>
</form>
